In [8]:
import pandas as pd
df = pd.DataFrame([
['green', 'M', 10.1, 'class2'],
['red', 'L', 13.5, 'class1'],
['blue', 'XL', 15.3, 'class2']])
df.columns = ['color', 'size', 'price', 'Label']
df

   color size  price   Label
0  green    M   10.1  class2
1    red    L   13.5  class1
2   blue   XL   15.3  class2

In [9]:
size_mapping = {'XL': 2,'L':1,'M':0}
df['size'] = df['size'].map(size_mapping)
df

   color  size  price   Label
0  green     0   10.1  class2
1    red     1   13.5  class1
2   blue     2   15.3  class2

In [10]:
inv_size_mapping = {v: k for k,v in size_mapping.items()}
df['size'].map(inv_size_mapping)

0     M
1     L
2    XL
Name: size, dtype: object

In [11]:
#label Encoding

In [12]:
import numpy as np
class_mapping = {label: idx  for idx, label in enumerate(np.unique(df['Label']))}
class_mapping

{'class1': 0, 'class2': 1}

In [13]:
df['Label'] = df['Label'].map(class_mapping)
df

   color  size  price  Label
0  green     0   10.1      1
1    red     1   13.5      0
2   blue     2   15.3      1

In [14]:
inv_class_mapping = {v: k for k,v in class_mapping.items()}
df['Label'] = df['Label'].map(inv_size_mapping)
df

   color  size  price Label
0  green     0   10.1     L
1    red     1   13.5     M
2   blue     2   15.3     L